<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.asknico.demo.core.dao.AccountMapper">
  <resultMap id="BaseResultMap" type="com.asknico.demo.model.entities.Account">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="integral" jdbcType="DOUBLE" property="integral" />
    <result column="level" jdbcType="INTEGER" property="level" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="is_vip" jdbcType="CHAR" property="isVip" />
    <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="sn" jdbcType="VARCHAR" property="sn" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, integral, level, status, is_vip, created_at, sn
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from an_account
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from an_account
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.asknico.demo.model.entities.Account">
    insert into an_account (id, user_id, integral, 
      level, status, is_vip, 
      created_at, sn)
    values (#{id,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, #{integral,jdbcType=DOUBLE}, 
      #{level,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, #{isVip,jdbcType=CHAR}, 
      #{createdAt,jdbcType=TIMESTAMP}, #{sn,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.asknico.demo.model.entities.Account">
    insert into an_account
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="integral != null">
        integral,
      </if>
      <if test="level != null">
        level,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="isVip != null">
        is_vip,
      </if>
      <if test="createdAt != null">
        created_at,
      </if>
      <if test="sn != null">
        sn,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="integral != null">
        #{integral,jdbcType=DOUBLE},
      </if>
      <if test="level != null">
        #{level,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="isVip != null">
        #{isVip,jdbcType=CHAR},
      </if>
      <if test="createdAt != null">
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="sn != null">
        #{sn,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.asknico.demo.model.entities.Account">
    update an_account
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="integral != null">
        integral = #{integral,jdbcType=DOUBLE},
      </if>
      <if test="level != null">
        level = #{level,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="isVip != null">
        is_vip = #{isVip,jdbcType=CHAR},
      </if>
      <if test="createdAt != null">
        created_at = #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="sn != null">
        sn = #{sn,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.asknico.demo.model.entities.Account">
    update an_account
    set user_id = #{userId,jdbcType=BIGINT},
      integral = #{integral,jdbcType=DOUBLE},
      level = #{level,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      is_vip = #{isVip,jdbcType=CHAR},
      created_at = #{createdAt,jdbcType=TIMESTAMP},
      sn = #{sn,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <resultMap id="BaseResultMap" type="com.asknico.demo.model.entities.Account">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="integral" jdbcType="DOUBLE" property="integral" />
    <result column="level" jdbcType="INTEGER" property="level" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="is_vip" jdbcType="CHAR" property="isVip" />
    <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="sn" jdbcType="VARCHAR" property="sn" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, integral, level, status, is_vip, created_at, sn
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from an_account
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from an_account
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.asknico.demo.model.entities.Account">
    insert into an_account (id, user_id, integral, 
      level, status, is_vip, 
      created_at, sn)
    values (#{id,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, #{integral,jdbcType=DOUBLE}, 
      #{level,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, #{isVip,jdbcType=CHAR}, 
      #{createdAt,jdbcType=TIMESTAMP}, #{sn,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.asknico.demo.model.entities.Account">
    insert into an_account
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="integral != null">
        integral,
      </if>
      <if test="level != null">
        level,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="isVip != null">
        is_vip,
      </if>
      <if test="createdAt != null">
        created_at,
      </if>
      <if test="sn != null">
        sn,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="integral != null">
        #{integral,jdbcType=DOUBLE},
      </if>
      <if test="level != null">
        #{level,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="isVip != null">
        #{isVip,jdbcType=CHAR},
      </if>
      <if test="createdAt != null">
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="sn != null">
        #{sn,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.asknico.demo.model.entities.Account">
    update an_account
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="integral != null">
        integral = #{integral,jdbcType=DOUBLE},
      </if>
      <if test="level != null">
        level = #{level,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="isVip != null">
        is_vip = #{isVip,jdbcType=CHAR},
      </if>
      <if test="createdAt != null">
        created_at = #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="sn != null">
        sn = #{sn,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.asknico.demo.model.entities.Account">
    update an_account
    set user_id = #{userId,jdbcType=BIGINT},
      integral = #{integral,jdbcType=DOUBLE},
      level = #{level,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      is_vip = #{isVip,jdbcType=CHAR},
      created_at = #{createdAt,jdbcType=TIMESTAMP},
      sn = #{sn,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <resultMap id="BaseResultMap" type="com.asknico.demo.model.entities.Account">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="integral" jdbcType="DOUBLE" property="integral" />
    <result column="level" jdbcType="INTEGER" property="level" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="is_vip" jdbcType="CHAR" property="isVip" />
    <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="sn" jdbcType="VARCHAR" property="sn" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, integral, level, status, is_vip, created_at, sn
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from an_account
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from an_account
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.asknico.demo.model.entities.Account">
    insert into an_account (id, user_id, integral, 
      level, status, is_vip, 
      created_at, sn)
    values (#{id,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, #{integral,jdbcType=DOUBLE}, 
      #{level,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, #{isVip,jdbcType=CHAR}, 
      #{createdAt,jdbcType=TIMESTAMP}, #{sn,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.asknico.demo.model.entities.Account">
    insert into an_account
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="integral != null">
        integral,
      </if>
      <if test="level != null">
        level,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="isVip != null">
        is_vip,
      </if>
      <if test="createdAt != null">
        created_at,
      </if>
      <if test="sn != null">
        sn,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="integral != null">
        #{integral,jdbcType=DOUBLE},
      </if>
      <if test="level != null">
        #{level,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="isVip != null">
        #{isVip,jdbcType=CHAR},
      </if>
      <if test="createdAt != null">
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="sn != null">
        #{sn,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.asknico.demo.model.entities.Account">
    update an_account
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="integral != null">
        integral = #{integral,jdbcType=DOUBLE},
      </if>
      <if test="level != null">
        level = #{level,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="isVip != null">
        is_vip = #{isVip,jdbcType=CHAR},
      </if>
      <if test="createdAt != null">
        created_at = #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="sn != null">
        sn = #{sn,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.asknico.demo.model.entities.Account">
    update an_account
    set user_id = #{userId,jdbcType=BIGINT},
      integral = #{integral,jdbcType=DOUBLE},
      level = #{level,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      is_vip = #{isVip,jdbcType=CHAR},
      created_at = #{createdAt,jdbcType=TIMESTAMP},
      sn = #{sn,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <resultMap id="BaseResultMap" type="com.asknico.demo.model.entities.Account">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="integral" jdbcType="DOUBLE" property="integral" />
    <result column="level" jdbcType="INTEGER" property="level" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="is_vip" jdbcType="CHAR" property="isVip" />
    <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="sn" jdbcType="VARCHAR" property="sn" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, integral, level, status, is_vip, created_at, sn
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from an_account
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from an_account
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.asknico.demo.model.entities.Account">
    insert into an_account (id, user_id, integral, 
      level, status, is_vip, 
      created_at, sn)
    values (#{id,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, #{integral,jdbcType=DOUBLE}, 
      #{level,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, #{isVip,jdbcType=CHAR}, 
      #{createdAt,jdbcType=TIMESTAMP}, #{sn,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.asknico.demo.model.entities.Account">
    insert into an_account
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="integral != null">
        integral,
      </if>
      <if test="level != null">
        level,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="isVip != null">
        is_vip,
      </if>
      <if test="createdAt != null">
        created_at,
      </if>
      <if test="sn != null">
        sn,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="integral != null">
        #{integral,jdbcType=DOUBLE},
      </if>
      <if test="level != null">
        #{level,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="isVip != null">
        #{isVip,jdbcType=CHAR},
      </if>
      <if test="createdAt != null">
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="sn != null">
        #{sn,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.asknico.demo.model.entities.Account">
    update an_account
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="integral != null">
        integral = #{integral,jdbcType=DOUBLE},
      </if>
      <if test="level != null">
        level = #{level,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="isVip != null">
        is_vip = #{isVip,jdbcType=CHAR},
      </if>
      <if test="createdAt != null">
        created_at = #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="sn != null">
        sn = #{sn,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.asknico.demo.model.entities.Account">
    update an_account
    set user_id = #{userId,jdbcType=BIGINT},
      integral = #{integral,jdbcType=DOUBLE},
      level = #{level,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      is_vip = #{isVip,jdbcType=CHAR},
      created_at = #{createdAt,jdbcType=TIMESTAMP},
      sn = #{sn,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <resultMap id="BaseResultMap" type="com.asknico.demo.model.entities.Account">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="integral" jdbcType="DOUBLE" property="integral" />
    <result column="level" jdbcType="INTEGER" property="level" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="is_vip" jdbcType="CHAR" property="isVip" />
    <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="sn" jdbcType="VARCHAR" property="sn" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, integral, level, status, is_vip, created_at, sn
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from an_account
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from an_account
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.asknico.demo.model.entities.Account">
    insert into an_account (id, user_id, integral, 
      level, status, is_vip, 
      created_at, sn)
    values (#{id,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, #{integral,jdbcType=DOUBLE}, 
      #{level,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, #{isVip,jdbcType=CHAR}, 
      #{createdAt,jdbcType=TIMESTAMP}, #{sn,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.asknico.demo.model.entities.Account">
    insert into an_account
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="integral != null">
        integral,
      </if>
      <if test="level != null">
        level,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="isVip != null">
        is_vip,
      </if>
      <if test="createdAt != null">
        created_at,
      </if>
      <if test="sn != null">
        sn,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="integral != null">
        #{integral,jdbcType=DOUBLE},
      </if>
      <if test="level != null">
        #{level,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="isVip != null">
        #{isVip,jdbcType=CHAR},
      </if>
      <if test="createdAt != null">
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="sn != null">
        #{sn,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.asknico.demo.model.entities.Account">
    update an_account
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="integral != null">
        integral = #{integral,jdbcType=DOUBLE},
      </if>
      <if test="level != null">
        level = #{level,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="isVip != null">
        is_vip = #{isVip,jdbcType=CHAR},
      </if>
      <if test="createdAt != null">
        created_at = #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="sn != null">
        sn = #{sn,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.asknico.demo.model.entities.Account">
    update an_account
    set user_id = #{userId,jdbcType=BIGINT},
      integral = #{integral,jdbcType=DOUBLE},
      level = #{level,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      is_vip = #{isVip,jdbcType=CHAR},
      created_at = #{createdAt,jdbcType=TIMESTAMP},
      sn = #{sn,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <resultMap id="BaseResultMap" type="com.asknico.demo.model.entities.Account">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="integral" jdbcType="DOUBLE" property="integral" />
    <result column="level" jdbcType="INTEGER" property="level" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="is_vip" jdbcType="CHAR" property="isVip" />
    <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="sn" jdbcType="VARCHAR" property="sn" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, integral, level, status, is_vip, created_at, sn
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from an_account
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from an_account
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.asknico.demo.model.entities.Account">
    insert into an_account (id, user_id, integral, 
      level, status, is_vip, 
      created_at, sn)
    values (#{id,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, #{integral,jdbcType=DOUBLE}, 
      #{level,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, #{isVip,jdbcType=CHAR}, 
      #{createdAt,jdbcType=TIMESTAMP}, #{sn,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.asknico.demo.model.entities.Account">
    insert into an_account
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="integral != null">
        integral,
      </if>
      <if test="level != null">
        level,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="isVip != null">
        is_vip,
      </if>
      <if test="createdAt != null">
        created_at,
      </if>
      <if test="sn != null">
        sn,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="integral != null">
        #{integral,jdbcType=DOUBLE},
      </if>
      <if test="level != null">
        #{level,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="isVip != null">
        #{isVip,jdbcType=CHAR},
      </if>
      <if test="createdAt != null">
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="sn != null">
        #{sn,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.asknico.demo.model.entities.Account">
    update an_account
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="integral != null">
        integral = #{integral,jdbcType=DOUBLE},
      </if>
      <if test="level != null">
        level = #{level,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="isVip != null">
        is_vip = #{isVip,jdbcType=CHAR},
      </if>
      <if test="createdAt != null">
        created_at = #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="sn != null">
        sn = #{sn,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.asknico.demo.model.entities.Account">
    update an_account
    set user_id = #{userId,jdbcType=BIGINT},
      integral = #{integral,jdbcType=DOUBLE},
      level = #{level,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      is_vip = #{isVip,jdbcType=CHAR},
      created_at = #{createdAt,jdbcType=TIMESTAMP},
      sn = #{sn,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <resultMap id="BaseResultMap" type="com.asknico.demo.model.entities.Account">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="integral" jdbcType="DOUBLE" property="integral" />
    <result column="level" jdbcType="INTEGER" property="level" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="is_vip" jdbcType="CHAR" property="isVip" />
    <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="sn" jdbcType="VARCHAR" property="sn" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, integral, level, status, is_vip, created_at, sn
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from an_account
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from an_account
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.asknico.demo.model.entities.Account">
    insert into an_account (id, user_id, integral, 
      level, status, is_vip, 
      created_at, sn)
    values (#{id,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, #{integral,jdbcType=DOUBLE}, 
      #{level,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, #{isVip,jdbcType=CHAR}, 
      #{createdAt,jdbcType=TIMESTAMP}, #{sn,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.asknico.demo.model.entities.Account">
    insert into an_account
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="integral != null">
        integral,
      </if>
      <if test="level != null">
        level,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="isVip != null">
        is_vip,
      </if>
      <if test="createdAt != null">
        created_at,
      </if>
      <if test="sn != null">
        sn,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="integral != null">
        #{integral,jdbcType=DOUBLE},
      </if>
      <if test="level != null">
        #{level,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="isVip != null">
        #{isVip,jdbcType=CHAR},
      </if>
      <if test="createdAt != null">
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="sn != null">
        #{sn,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.asknico.demo.model.entities.Account">
    update an_account
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="integral != null">
        integral = #{integral,jdbcType=DOUBLE},
      </if>
      <if test="level != null">
        level = #{level,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="isVip != null">
        is_vip = #{isVip,jdbcType=CHAR},
      </if>
      <if test="createdAt != null">
        created_at = #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="sn != null">
        sn = #{sn,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.asknico.demo.model.entities.Account">
    update an_account
    set user_id = #{userId,jdbcType=BIGINT},
      integral = #{integral,jdbcType=DOUBLE},
      level = #{level,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      is_vip = #{isVip,jdbcType=CHAR},
      created_at = #{createdAt,jdbcType=TIMESTAMP},
      sn = #{sn,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <resultMap id="BaseResultMap" type="com.asknico.demo.model.entities.Account">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="integral" jdbcType="DOUBLE" property="integral" />
    <result column="level" jdbcType="INTEGER" property="level" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="is_vip" jdbcType="CHAR" property="isVip" />
    <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="sn" jdbcType="VARCHAR" property="sn" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, integral, level, status, is_vip, created_at, sn
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from an_account
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from an_account
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.asknico.demo.model.entities.Account">
    insert into an_account (id, user_id, integral, 
      level, status, is_vip, 
      created_at, sn)
    values (#{id,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, #{integral,jdbcType=DOUBLE}, 
      #{level,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, #{isVip,jdbcType=CHAR}, 
      #{createdAt,jdbcType=TIMESTAMP}, #{sn,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.asknico.demo.model.entities.Account">
    insert into an_account
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="integral != null">
        integral,
      </if>
      <if test="level != null">
        level,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="isVip != null">
        is_vip,
      </if>
      <if test="createdAt != null">
        created_at,
      </if>
      <if test="sn != null">
        sn,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="integral != null">
        #{integral,jdbcType=DOUBLE},
      </if>
      <if test="level != null">
        #{level,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="isVip != null">
        #{isVip,jdbcType=CHAR},
      </if>
      <if test="createdAt != null">
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="sn != null">
        #{sn,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.asknico.demo.model.entities.Account">
    update an_account
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="integral != null">
        integral = #{integral,jdbcType=DOUBLE},
      </if>
      <if test="level != null">
        level = #{level,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="isVip != null">
        is_vip = #{isVip,jdbcType=CHAR},
      </if>
      <if test="createdAt != null">
        created_at = #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="sn != null">
        sn = #{sn,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.asknico.demo.model.entities.Account">
    update an_account
    set user_id = #{userId,jdbcType=BIGINT},
      integral = #{integral,jdbcType=DOUBLE},
      level = #{level,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      is_vip = #{isVip,jdbcType=CHAR},
      created_at = #{createdAt,jdbcType=TIMESTAMP},
      sn = #{sn,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <resultMap id="BaseResultMap" type="com.asknico.demo.model.entities.Account">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="integral" jdbcType="DOUBLE" property="integral" />
    <result column="level" jdbcType="INTEGER" property="level" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="is_vip" jdbcType="CHAR" property="isVip" />
    <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="sn" jdbcType="VARCHAR" property="sn" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, integral, level, status, is_vip, created_at, sn
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from an_account
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from an_account
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.asknico.demo.model.entities.Account">
    insert into an_account (id, user_id, integral, 
      level, status, is_vip, 
      created_at, sn)
    values (#{id,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, #{integral,jdbcType=DOUBLE}, 
      #{level,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, #{isVip,jdbcType=CHAR}, 
      #{createdAt,jdbcType=TIMESTAMP}, #{sn,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.asknico.demo.model.entities.Account">
    insert into an_account
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="integral != null">
        integral,
      </if>
      <if test="level != null">
        level,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="isVip != null">
        is_vip,
      </if>
      <if test="createdAt != null">
        created_at,
      </if>
      <if test="sn != null">
        sn,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="integral != null">
        #{integral,jdbcType=DOUBLE},
      </if>
      <if test="level != null">
        #{level,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="isVip != null">
        #{isVip,jdbcType=CHAR},
      </if>
      <if test="createdAt != null">
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="sn != null">
        #{sn,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.asknico.demo.model.entities.Account">
    update an_account
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="integral != null">
        integral = #{integral,jdbcType=DOUBLE},
      </if>
      <if test="level != null">
        level = #{level,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="isVip != null">
        is_vip = #{isVip,jdbcType=CHAR},
      </if>
      <if test="createdAt != null">
        created_at = #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="sn != null">
        sn = #{sn,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.asknico.demo.model.entities.Account">
    update an_account
    set user_id = #{userId,jdbcType=BIGINT},
      integral = #{integral,jdbcType=DOUBLE},
      level = #{level,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      is_vip = #{isVip,jdbcType=CHAR},
      created_at = #{createdAt,jdbcType=TIMESTAMP},
      sn = #{sn,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <resultMap id="BaseResultMap" type="com.asknico.demo.model.entities.Account">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="integral" jdbcType="DOUBLE" property="integral" />
    <result column="level" jdbcType="INTEGER" property="level" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="is_vip" jdbcType="CHAR" property="isVip" />
    <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="sn" jdbcType="VARCHAR" property="sn" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, integral, level, status, is_vip, created_at, sn
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from an_account
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from an_account
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.asknico.demo.model.entities.Account">
    insert into an_account (id, user_id, integral, 
      level, status, is_vip, 
      created_at, sn)
    values (#{id,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, #{integral,jdbcType=DOUBLE}, 
      #{level,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, #{isVip,jdbcType=CHAR}, 
      #{createdAt,jdbcType=TIMESTAMP}, #{sn,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.asknico.demo.model.entities.Account">
    insert into an_account
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="integral != null">
        integral,
      </if>
      <if test="level != null">
        level,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="isVip != null">
        is_vip,
      </if>
      <if test="createdAt != null">
        created_at,
      </if>
      <if test="sn != null">
        sn,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="integral != null">
        #{integral,jdbcType=DOUBLE},
      </if>
      <if test="level != null">
        #{level,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="isVip != null">
        #{isVip,jdbcType=CHAR},
      </if>
      <if test="createdAt != null">
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="sn != null">
        #{sn,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.asknico.demo.model.entities.Account">
    update an_account
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="integral != null">
        integral = #{integral,jdbcType=DOUBLE},
      </if>
      <if test="level != null">
        level = #{level,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="isVip != null">
        is_vip = #{isVip,jdbcType=CHAR},
      </if>
      <if test="createdAt != null">
        created_at = #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="sn != null">
        sn = #{sn,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.asknico.demo.model.entities.Account">
    update an_account
    set user_id = #{userId,jdbcType=BIGINT},
      integral = #{integral,jdbcType=DOUBLE},
      level = #{level,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      is_vip = #{isVip,jdbcType=CHAR},
      created_at = #{createdAt,jdbcType=TIMESTAMP},
      sn = #{sn,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <resultMap id="BaseResultMap" type="com.asknico.demo.model.entities.Account">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="integral" jdbcType="DOUBLE" property="integral" />
    <result column="level" jdbcType="INTEGER" property="level" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="is_vip" jdbcType="CHAR" property="isVip" />
    <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="sn" jdbcType="VARCHAR" property="sn" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, integral, level, status, is_vip, created_at, sn
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from an_account
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from an_account
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.asknico.demo.model.entities.Account">
    insert into an_account (id, user_id, integral, 
      level, status, is_vip, 
      created_at, sn)
    values (#{id,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, #{integral,jdbcType=DOUBLE}, 
      #{level,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, #{isVip,jdbcType=CHAR}, 
      #{createdAt,jdbcType=TIMESTAMP}, #{sn,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.asknico.demo.model.entities.Account">
    insert into an_account
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="integral != null">
        integral,
      </if>
      <if test="level != null">
        level,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="isVip != null">
        is_vip,
      </if>
      <if test="createdAt != null">
        created_at,
      </if>
      <if test="sn != null">
        sn,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="integral != null">
        #{integral,jdbcType=DOUBLE},
      </if>
      <if test="level != null">
        #{level,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="isVip != null">
        #{isVip,jdbcType=CHAR},
      </if>
      <if test="createdAt != null">
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="sn != null">
        #{sn,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.asknico.demo.model.entities.Account">
    update an_account
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="integral != null">
        integral = #{integral,jdbcType=DOUBLE},
      </if>
      <if test="level != null">
        level = #{level,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="isVip != null">
        is_vip = #{isVip,jdbcType=CHAR},
      </if>
      <if test="createdAt != null">
        created_at = #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="sn != null">
        sn = #{sn,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.asknico.demo.model.entities.Account">
    update an_account
    set user_id = #{userId,jdbcType=BIGINT},
      integral = #{integral,jdbcType=DOUBLE},
      level = #{level,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      is_vip = #{isVip,jdbcType=CHAR},
      created_at = #{createdAt,jdbcType=TIMESTAMP},
      sn = #{sn,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>